@model List<OrderItemViewModel>

<div id="main-body" class="container mt-3">
        
<h2>Order details</h2>
<div class="container py-5">
	<div class="row">
		<div class="col-sm-5 border border-light rounded">
          <div>
              <div>
                <h4>Shipping address</h4>
                <ul class="order-group">
                    <li list-group-item=""><strong>Full name: </strong> @Model.ElementAt(0).BillingAddress.Name</li>
                    <li>Street Name: @Model.ElementAt(0).BillingAddress.StreetName</li>
                    <li><strong>Town/City: </strong>@Model.ElementAt(0).BillingAddress.City</li>
                    <li><strong>Country: </strong>@Model.ElementAt(0).BillingAddress.Country</li>
                    <li><strong>Zip code: </strong>@Model.ElementAt(0).BillingAddress.ZipCode</li>
                </ul>
            </div>
          </div>
        </div>
	</div>
    <br>
    <br>
	<div class="row">
		<div class="col-sm-5 border border-light rounded">
          <div>
            <div>
              <h4>Billing Address</h4>
                 <ul class="order-group">
                    <li list-group-item=""><strong>Full name: </strong> @Model.ElementAt(0).ShippingAddress.Name</li>
                    <li>Street Name: @Model.ElementAt(0).ShippingAddress.StreetName</li>
                    <li><strong>Town/City: </strong>@Model.ElementAt(0).ShippingAddress.City</li>
                    <li><strong>Country: </strong>@Model.ElementAt(0).ShippingAddress.Country</li>
                    <li><strong>Zip code: </strong>@Model.ElementAt(0).ShippingAddress.ZipCode</li>
                </ul>
            </div>
          </div>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
                    @foreach(var item in @Model)
                    {
                        <ul>
                            book: @item.Book.Title , by @item.Book.Author , Price: @item.Book.Price kr 
                        </ul>
                    }
        </div>
    </div>
</div>