@model List<CartBookViewModel>
@{
    ViewData["Title"] = "Cart";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in @Model)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a  id="details-cover" class="thumbnail pull-left" href="#"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">@item.Title</a></h4>
                                    <h5 class="media-heading"> by <a href="#">@item.Author</a></h5>
                                </div>
                            </div></td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="1">
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.Price</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.Price</strong></td>
                            <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <a asp-area="" asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@item.Id">Remove from cart</a>
                            </button></td>
                        </tr>
                    }

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            <a asp-area="" asp-controller="ShoppingCart" asp-action="Checkout" asp-route-id="@Model.ElementAt(0).OrderId">Checkout</a>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<p id="details-isbn" style="visibility: hidden">@item.ISBN13</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/shoppingCart.js"></script>


