@model List<OrderListViewModel>
@{
    ViewData["Orders"] = "Get All Orders";
}
<div class="container">
    <div class="jumbotron">
        <h2>BookCave &#64; DATAdump</h2>
    </div>
    @foreach(var order in @Model)
    {
        <p>OrderId: @order.Id</p>
        <p>User: @order.UserName</p>
        <p>TotalPrice: @order.TotalPrice</p>
        <p>OrderStatus: @order.OrderStatus</p>
        <ol>
            @foreach(var item in @order.OrderItems)
            {
                <li>
                    @foreach(var book in @item.Book)
                    {
                        @book.Title
                    }
                </li>
            }
        </ol>
        <p>-------------------------------------------------------</p>
        <br>
    }
</div>