@model List<BookListViewModel>
@{
    ViewData["TopTen"] = "Top Ten Books";
}

<button id="prufa"> prufa</button>

@{int i = 1;}
@foreach(var book in @Model)
{
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-1 display-1 d-flex justify-content-center align-items-center">@i</div>
        <div class="col-md-2 d-flex justify-content-center align-items-center" id="top-ten-image"></div>
        <div class="col-md-9">
          <a asp-area="" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"><h1 id="title@i">@book.Title</h1></a>
          <p class="lead">By </p>
          <p>Rating: @book.Rating</p>
        </div>
      </div>
    </div>
  </div>
 <p id="top-ten-isbn" style="visibility: hidden">@book.ISBN13</p>
 i++;
}

