@model BookDetailsViewModel

@{
    ViewData["Title"] = "[DYNAMIC TITLE]";
}


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid d-block mx-auto img-thumbnail" src="https://images.gr-assets.com/books/1464570795l/77197.jpg"> </div>
        <div class="col-md-8" >
          <h1 id="book-title">@Model.Title
            <br> </h1>
          <p id="book-author">@Model.Author</p>
          <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
          <h5 class="title-price"><small>Price</small></h5>
          <p class="lead">@Model.Price ISK</p>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi erat, rhoncus in fringilla quis, ullamcorper ac ante. Donec quis mauris sit amet felis sodales tristique sit amet vitae augue. Fusce ullamcorper a leo sed tincidunt. Aenean gravida turpis pulvinar lobortis porttitor. Aliquam sodales volutpat dui, non elementum erat venenatis eleifend. Donec felis sapien, luctus ac tincidunt a, ultrices eu augue. Duis scelerisque tortor vitae posuere lacinia. Donec eget commodo felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ultricies neque vitae urna consectetur, eu aliquet diam sagittis. Nam lectus sapien, rutrum gravida eleifend nec, sagittis quis metus.
          </p>
          <div>
            <button class="btn btn-block btn-success" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id">
              <i class="fas fa-shopping-cart"></i> Add to cart</button>
            <button  class="btn btn-block btn-danger"><i class="far fa-heart"></i> Add to wishlist</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  <hr / id="book-divider">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" id="BookDetails">
          <h3 class="" contenteditable="true">Book details</h3>
            <ul class="">
                <li>Pages: @Model.PageCount pages</li>
                <li>Publisher: @Model.Publisher (5 April 2018)</li>
                <li>Year of Publication: @Model.YearPublished</li>
                <li>Original Publication Year: @Model.OriginalPublicationYear</li>
                <li>ISBN: @Model.ISBN</li>
                <li>Rating: @Model.Rating</li>
                <li>Genre: @Model.Genre</li>
            </ul>
        </div>
        <div class="col-md-6">
          <h3 class="" contenteditable="true">About the author</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>


      
<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Reviews</h2>
        <section class="comment-list">
          <!-- First Comment -->
          <div class="row ">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <div class="">
                <img class="img-fluid d-block img-thumbnail mx-auto border" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpYU0PmdMDRDn0wsB5yIEzZi6pcCJhxo-d_txR3iMO_9yHjGG" />
              </div>
            </div>
            <div class="col-md-10 col-sm-10 mx-auto border">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> Username <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>                   
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>



<!-- First Comment -->
<div class="row mt-3">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <div class="thumbnail">
      <img class="img-fluid d-block img-thumbnail mx-auto border" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpYU0PmdMDRDn0wsB5yIEzZi6pcCJhxo-d_txR3iMO_9yHjGG"
      />
    </div>
  </div>
  <div>
    <div>
    <div id="writeReview">
      <h4 class=""style="display:show">Read this book?</h4>
      <button id="write-review" type="submit" href="#comment" class="btn btn-success">Write a review</button>
      <div class="py-5 "></div>
    </div>
  <form action="/action_page.php" id="comment" style="display:none">
        <div class="form-group">
          <label for="comment">Review:</label>
          <textarea class="form-control" rows="5"></textarea>
        </div>
        <p>
          <div class="dropdown">
            <button type="dropdown" class="btn dropdown-toggle" data-toggle="dropdown">
              Rate this book!
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
              </a>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </p>
     </form>
    </div>
  </div>
</div>
<div class="py-5"></div>



