@model BookDetailsViewModel 
@{ ViewData["Title"] = @Model.Title; }

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="details-cover"></div>
      <div class="col-md-8">
        <h1 id="book-title">@Model.Title</h1>
        <p id="book-author">@Model.Author</p>
        <p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </p>
        <p class="lead">Price: @Model.Price ISK</p>
        <br>
        <h4>Description:</h4>
        <div class="card">
          <div class="card-body text-justify" id="details-description"></div>
        </div>
        <div>
          <br>
                <a class="btn btn-block btn-success" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
        </div>
      </div>
    </div>
    <br>
  <hr id="book-divider">
  <div>
    <div class="container">
      <div class="row">
        <div class="col" id="BookDetails">
          <h3 class="" contenteditable="true">Book details</h3>
            <ul class="">
                <li>Pages: @Model.PageCount pages</li>
                <li>Publisher: @Model.Publisher</li>
                <li>Year of Publication: @Model.YearPublished</li>
                <li>Original Publication Year: @Model.OriginalPublicationYear</li>
                <li>ISBN13: @Model.ISBN13</li>
                <li>Rating: @Model.Rating</li>
                <li>Genre: @Model.Genre</li>
            </ul>
        </div>
    </div>
  </div>
</div>

@foreach(var comment in @Model.Comments)
{
    <ol>
        <span>User: @comment.UserId , Comment: @comment.CommentText</span>
    </ol>
}


    <h3>Add a comment!</h3>
    <form method="POST" asp-controller="Book" asp-action="AddComment" asp-route-id="@Model.Id">
<div class="form-group">
        <textarea name="CommentText" rows="5" class="form-control" placeholder="Enter comment here..."></textarea>
        <input type="submit" class="btn btn-info mt-2">
</div>
    </form>

<div style="display:none">
    <form action="">
        <a asp-controller="Book" asp-action="AddRating" asp-route-id="@Model.Id">Add Rating!!!</a>
    </form>
</div>

          <p id="details-isbn" style="visibility: hidden">@Model.ISBN13</p>
          <p id="details-id" style="visibility: hidden">@Model.Id</p>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="~/js/details.js"></script>