@model BookDetailsViewModel 
@{ ViewData["Title"] = @Model.Title; }

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="details-cover"></div>
      <div class="col-md-8">
        <h1 id="book-title">@Model.Title</h1>
        <p id="book-author">@Model.Author</p>
        <p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </p>
        <p class="lead">Price: @Model.Price ISK</p>
        <br>
        <h4>Description:</h4>
        <div class="card">
          <div class="card-body text-justify" id="details-description"></div>
        </div>
        <div>
          <br>

          <button class="btn btn-block btn-success" type="button" id="add-to-cart">
              <i class="fas fa-shopping-cart"></i> Add to Cart
          </button>
            
          <button class="btn btn-block btn-danger">
            <i class="far fa-heart"></i> Add to wishlist
          </button>
        </div>
      </div>
    </div>
  <hr id="book-divider">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" id="BookDetails">
          <h3 class="" contenteditable="true">Book details</h3>
            <ul class="">
                <li>Pages: @Model.PageCount pages</li>
                <li>Publisher: @Model.Publisher (5 April 2018)</li>
                <li>Year of Publication: @Model.YearPublished</li>
                <li>Original Publication Year: @Model.OriginalPublicationYear</li>
                <li>ISBN13: @Model.ISBN13</li>
                <li>Rating: @Model.Rating</li>
                <li>Genre: @Model.Genre</li>
            </ul>
        </div>
        <div class="col-md-6">
          <h3 class="" contenteditable="true">About the author</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="" contenteditable="true">About the author</h3>
        <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Reviews</h2>
      <section class="comment-list">
        <!-- First Comment -->
        <div class="row ">
          <div class="col-md-2 col-sm-2 hidden-xs">
            <div class="">
              <img class="img-fluid d-block img-thumbnail mx-auto border" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpYU0PmdMDRDn0wsB5yIEzZi6pcCJhxo-d_txR3iMO_9yHjGG"
              />
            </div>
          </div>
          <div class="col-md-10 col-sm-10 mx-auto border">
            <div class="panel panel-default arrow left">
              <div class="panel-body">
                <header class="text-left">
                  <div class="comment-user">
                    <i class="fa fa-user"></i> Username </div>
                  <time class="comment-date" datetime="16-12-2014 01:05">
                    <i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                </header>
                <div class="comment-post">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>



<!-- First Comment -->
<div class="row mt-3">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <div class="thumbnail">
      <img class="img-fluid d-block img-thumbnail mx-auto border" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpYU0PmdMDRDn0wsB5yIEzZi6pcCJhxo-d_txR3iMO_9yHjGG"/>
    </div>
  </div>
    <div id="writeReview">
      <h4 class=""style="display:show">Read this book?</h4>
      <button id="write-review" type="submit" href="#comment" class="btn btn-success">Write a review</button>
      <div class="py-5 "></div>
    </div>
  <form action="/action_page.php" id="comment" style="display:none">
        <div class="form-group">
          <label for="comment">Review:</label>
          <textarea class="form-control" rows="5"></textarea>
        </div>
        <p>
          <div class="dropdown">
            <button type="dropdown" class="btn dropdown-toggle" data-toggle="dropdown">
              Rate this book!
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-star"></i>
              </a>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </p>
     </form>
    </div>
  </div>
</div>

          <p id="details-isbn" style="visibility: hidden">@Model.ISBN13</p>
          <p id="details-id" style="visibility: hidden">@Model.Id</p>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="~/js/details.js"></script>